html {
    scroll-behavior: smooth;
 }

.idScroll{
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 30px;
    z-index: 999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.idScroll-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    animation-delay: calc(-0.5s*var(--i));
}

.idScroll-item.activs {
    animation: animate2 1.5s linear infinite;
}

@keyframes animate 
{
      0%
      {
        transform: scale(1);
       
        opacity: 0.5;
      }
      90%
      {
        transform: scale(1.5);
        background: #000;
      }
      100%
      {
        transform: scale(2);
        background: #000;
        opacity: 0;
      }
}

@keyframes animate2 
{
      0%
      {
        transform: scale(1);
       
        opacity: 0.5;
      }
      90%
      {
        transform: scale(1.5);
        background: yellow;
      }
      100%
      {
        transform: scale(2);
        background: yellow;
        opacity: 0;
      }
}

/* =====Header start ======= */
.header{
    overflow: hidden;
    background: var(--liner);
    border-radius: 0px 0px 28px 28px;
    padding: 0 0 40px 0;
}

/* =====Navbar start ========= */
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 105px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-left__item{
    display: flex;
    align-items: center;
}

.fa-bars{
    font-size: 20px;
    display: none;
}

.fa-x{
    display: none;
}

.navbar-phone{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-phone span{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.blur{
    transition: all 0.5s ease;
}

.navbar-right{
    height: 100%;
    display: flex;
    gap: 40px;
}

.navbar-right li{
    height: 100%;
}

.navbar-right li a{
    height: 100%;
    display: block;
    line-height: 60px;
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);    
    transition: all 0.3s ease;
}

.navbar-right li a:hover{
    color: #000000;
}

.navbar-phone2{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-menu__phone{
    display: none;
}

.navbar-phone2 span{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}


/* =======Navbar finish ========= */

.header-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 140px;
    margin-top: 40px;
}

.header-item__left{
    width: 536px;
}

.header-item__left h1{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 70px;
    color: #000000;
    order: 1;
    margin-top: 20px;
    background: var(--fontback);
    -webkit-background-clip: text;
}

.header-item__left h1 span{
    -webkit-text-fill-color: transparent;
}

.header-item__left-cards{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.header-card{
    display: flex;
    align-items: center;
    gap: 13px;
}

.header-card .fa-check{
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4B388E -22.04%, #488DCB 40.29%, #35C2D6 113.03%);
    color: #fff;
    border-radius: 50%;
}

.header-card p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background: linear-gradient(91.24deg, #2E82E3 21.23%, #7053E3 46.58%, #539EE3 71.11%, #2E82E3 99.73%), #53575B;
    -webkit-background-clip: text;
}

.header-card p span{
    -webkit-text-fill-color: transparent;
}

.header-item__right{
    min-width: 635px;
    width: 635px;
    height: 534px;
    background: #F5F8FB;
    border-radius: 32px;
    position: relative;
    z-index: 1;
}

.fa-sun{
    background: linear-gradient(90deg, #4B388E -22.04%, #488DCB 40.29%, #35C2D6 113.03%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: 100px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 100 !important;
    z-index: 99;
}

.fa-moon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: 100px;
    background: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 100 !important;
    z-index: 99;
}

.header-item__right img{
    position: absolute;
    bottom: -40px;
}

.header-item__right-chart{
    width: 289px;
    height: 186px;
    background: rgba(96, 122, 227, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    position: absolute;
    left: -71px;
    bottom: -25px;
}

.header-item__right-chart img{
    margin: 0px 0px 50px 40px;
}

/* =======Header finish========= */

/* =======Counter start ======= */
.counter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 140px;
    gap: 20px;
    margin-top: 40px;
}

.counter-item{
    width: 100%;
    padding: 41px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;    
    background: #FFFFFF;
    border-radius: 18px;
    transition: all 0.3s ease;
}

.counter-item:hover{
    background: linear-gradient(90deg, #4B388E -22.04%, #488DCB 40.29%, #35C2D6 113.03%), #2E82E3;
}

.counter-item:hover h1, .counter-item:hover p{
    color: #fff;
}

.counter-item h1{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
}

.counter-item p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray4);
    text-align: center;
}
/* ======== Counter finish ====== */


/* ======= Services start ======= */
.services{
    margin-top: 80px;
}

.text{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000; 
    text-align: center;   
}

.text span{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.24deg, #2E82E3 21.23%, #7053E3 46.58%, #539EE3 71.11%, #2E82E3 99.73%), #53575B;
    -webkit-background-clip: text;
}

.services-container{
    padding: 0 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.services-cards{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    padding: 39px 39px 34px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.services-cards__top{
    display: flex;
    align-items: center;
    gap: 18px;
}

.services-card__img{
    width: 56px;
    height: 51px;
    background: #F1F4F8;
    border-radius: 8px;
    position: relative;
    margin-left: 43px;
}

.services-card__img img{
    position: absolute;
    top: 5px;
    right: 10px;
}

.services-cards__top h2{
    font-family: var(--open-sans);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.services-cards p{
    font-family: var(--open-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
}

.services-btn{
    width: 150px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    background: #F1F4F8;
    border-radius: 8px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2C333D;
}

.services-btn i{
    font-size: 13px;
}

.text1{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.24deg, #2E82E3 21.23%, #7053E3 46.58%, #539EE3 71.11%, #2E82E3 99.73%), #53575B;
    -webkit-background-clip: text;
}

.text2{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.24deg, #4B388E 21.23%, #488DCB 46.58%, #35C2D6 71.11%);
    -webkit-background-clip: text;
}
/* ======== Services finish ========== */


/* ======== About start =========== */
.about{
    background: linear-gradient(90deg, #4B388E -22.04%, #488DCB 40.29%, #35C2D6 113.03%), linear-gradient(89.64deg, #2E82E3 -2.27%, #145CB0 103.85%);
    border-radius: 24px 24px 0px 24px;
    display: flex;
    align-items: center;
    padding-left: 140px;
    margin-top: 80px;
    overflow: hidden;
}

.about-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-left h2{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
}

.about-left p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.about-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #fff;
    
    width: 230px;
    height: 50px;
    
    background: #FFFFFF;
    border-radius: 8px;

    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #2C333D;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.about-btn:hover{
    background: transparent;
    color: #fff;
}

.about-btn i{
    font-size: 14px;
}

.about-right{
    position: relative;
}

.about-right img{
    margin-bottom: -4px;
}

.about-right img:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
}

.about-charts{
    width: 233.18px;
    height: 156.43px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    position: absolute;
    z-index: 2;
    top: 36px;
    left: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========About finish ======= */


/* ========Our start ========= */

.our{
    margin-top: 80px;
    padding: 0 140px;
}

.our-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-text h1{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.our-text h1 span{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.24deg, #488DCB 40.29%, #35C2D6 113.03%);
    -webkit-background-clip: text;
}

.our-text p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
}

.our-item{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.our-item__left{
   width: 25%;
}

.our-item__left-menu{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 33px 0px 40px 0;
}

.our-item__left-menu li {
    border: none;
    border-bottom: 1px solid #F1F4F8;
}

.our-item__left-menu li:hover{
    background: rgba(225, 225, 225, 0.4);
}

.our-item__left-menu li a{
    display: block;
    padding: 12px 65px 12px 24px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
    cursor: pointer;
}

.activ3.actives{
    font-weight: 600;
    font-size: 16px;
    color: #2E82E3;
}

.our-item__right{
    width: 75%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.our-item__right-black1, .our-item__right-black2, .our-item__right-black3, .our-item__right-black4, .our-item__right-black5, .our-item__right-black6{
    display: none;
}

.our-item__right-black1.active{
    display: grid;
}

.our-item__right-black2.active{
    display: grid;
}

.our-item__right-black3.active{
    display: grid;
}

.our-item__right-black4.active{
    display: grid;
}

.our-item__right-black5.active{
    display: grid;
}

.our-item__right-black6.active{
    display: grid;
}


.our-item__right-card{
    padding: 30px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.our-item__right-card p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    color: var(--gray5);
}
/* ======= our finish ======== */


/* ======= Why start ========= */
.why{
    background: #FFFFFF;
    border-radius: 24px;
    padding: 80px 140px;
    margin-top: 95px;
}

.wht-container{
    display: flex;
    gap: 88px;
}

.wht-container__left{
    width: 65%;
    height: 464px;
    background: #F5F8FB;
    border-radius: 32px;
    margin-top: 100px;
    position: relative;
}

.wht-container__left img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.wht-container__right{
    margin-top: 39px;
    width: 35%;
}

.wht-container__right h2{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.wht-container__right-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.wht-container__right-card{
    background: #F5F8FB;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 17px 23px 16px 18px;
}

.wht-container__right-icon{
    width: 59px;
    min-width: 59px;
    height: 59px;
    background: #EBF2F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wht-container__right-card p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background: linear-gradient(90deg, #4B388E, #488DCB, #35C2D6);
    -webkit-background-clip: text;
}

.text3{
    -webkit-text-fill-color: transparent;
}

.wht-footer{
    display: flex;
    align-items: center;
    gap: 55px;
    padding-right: 112px;
    margin-top: 50px;
}

.wht-footer p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--gray5);   
    background: linear-gradient(90deg, #4B388E, #488DCB, #35C2D6);
    -webkit-background-clip: text; 
}
/* ======= Why finish ======== */


/* ====== Customers start ====== */
.customers{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0 140px;
    margin-top: 80px;
}

.customers h1{
    display: inline-block;
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;   
    background: linear-gradient(90deg, #4B388E, #488DCB, #35C2D6);
    -webkit-background-clip: text;  
}

.customers-item{
    width: 100%;
    display: flex;
    gap: 20px;
}

.customers-item__left{
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 12px 0;
}

.customers-item__left li{
   width: 100%;
   border-top: 1px solid #F1F4F8;
}

.customers-item__left li:nth-child(1){
    border-top: none;
}

.customers-item__left li a{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
    display: block;
    padding: 12px 24px;
    cursor: pointer;
}

.customers-item__left li a:hover{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    color: #2E82E3;
}

.customers-item__right{
    width: 75%;
    border-radius: 12px;
    overflow: hidden;

}

.customers-cards{
    width: 100%;
    height: 100%;
}

.customers-cards iframe{
    width: 100%;
    height: 100%;
}
/* ====== Customers finish ====== */

/* ====== Owl-container start====== */
.owl-container{
    width: 100%;
    padding: 0 140px;
    margin-top: 40px;
}

.owl-carousel{
    width: 100%;
    position: relative;
}

.owl-container .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: transparent;
}

.owl-carousel__top{
    width: 261px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 18px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 12px;    
}

.owl-carousel__top img{
    width: 39px !important;
    min-width: 39px !important;
    height: 39px !important;
    min-height: 39 !important;
}

.owl-carousel__top h3{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.owl-carousel__bottom{
    background: #FFFFFF;
    border-radius: 18px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.owl-carousel__bottom p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
}

.owl-carousel__bottom-card{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.owl-carousel__bottom-card span{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray4);
}

.owl-container .owl-prev, .owl-container .owl-next{
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    background: #495EA9 !important;
    border-radius: 50% !important;

    color: #fff !important;
    font-size: 15px !important;
    font-weight: 100 !important;
    position: absolute !important;

    top: 50%;
    transform: translateY(-50%);
}

.owl-container .owl-prev{
    left: -18px;
   
}
.owl-container .owl-next{
    right: -18px;
}
/* ====== Owl-container finish====== */


/* ======Certificates start ======== */
.certificates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    margin-top: 80px;
    padding: 60px 361px;
}

.certificates h1{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.certificates p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--gray5);
    margin-top: 18px;
}

.certificates-item {
    width: 100%;
    background: #F1F4F8;
    border-radius: 12px;
    margin-top: 30px;
}

.certificates-item .owl-carousel{
    width: 100%;
    border-radius: 12px;
}

.certificates .item {
    position: relative;
    padding: 30px 40px;
    width: 100% !important;
}

.certificates-logo{
    position: absolute;
    background: #FFFFFF;
    border-radius: 18px;
    padding: 5px 37px 8px 29px;
    left: 0px;
    top: 45px;
}

.certificates-logo img{
    width: 93px !important;
}

.certificates .owl-prev, .certificates .owl-next{
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    background: #495EA9 !important;
    border-radius: 50%;

    color: #fff !important;
    font-size: 15px !important;
    font-weight: 100 !important;
    position: absolute !important;

    top: 50%;
    transform: translateY(-50%);
}

.certificates .owl-prev{
    left: -100px;
   
}
.certificates .owl-next{
    right: -100px;
}

.certificates-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
    margin-top: 40px;
}

.certificates-bottom p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: var(--gray5);
}
/* ====== Certificates finish ======= */


/* ====== Consultation start ======= */
.consultation{
    padding: 0 140px;
    margin-top: 80px;
}

.consultation-item{
    background: linear-gradient(90deg, #4B388E -22.04%, #488DCB 40.29%, #35C2D6 113.03%);
    border-radius: 24px;
    padding: 52px 60px;
    position: relative;
    display: flex;
    gap: 116px;
    overflow-y: hidden;
}

.consultation__border{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.consultation-item__left{
    width: 40%;
}

.consultation-item__left h3{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
    margin-top: 26px;
}

.consultation-item__left p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 24px;
    position: relative;
    z-index: 1;
}

.consultation-item__right{
    background: #fff;
    border-radius: 24px;
    width: 60%;
    position: relative;
    z-index: 1;
}

.consultation-item__right form{
    width: 100%;
    padding: 50px;
}

.consultation-item__right label{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray5);
    display: block;
}

.consultation-item__right label:nth-child(3){
    margin-top: 24px;
}

.consultation-item__right input{
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid var(--gray3);
    outline: none;
    border-radius: 8px;
    margin-top: 11px;
    padding: 0 18px;

    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.consultation-item__right input::placeholder{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray3);
}

.consultation-item__right button{
    width: 100%;
    height: 50px;
    background: #495EA9;
    border-radius: 8px;
    border: 2px solid #495EA9;

    font-family: var(--rubik);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;

    margin-top: 24px;
    transition: all 0.3s ease;
}

.consultation-item__right button:hover{
    color: #495EA9;
    background: transparent;
}
/* ====== Consultation finish ====== */
 


/* ======= Footer start ============ */
.footer{
    height: 84px;
    padding: 0 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    background: #fff;
}

.footer span{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.footer-right p{
    font-family: var(--rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray4);
    margin: 0;
    padding: 0;
}

.footer-right__card{
    display: flex;
    align-items: center;
    gap: 21px;
    margin: 0;
    padding: 0;
}

.footer-right__card li a{
    width: 24px;
    height: 24px;
    background: #F1F4F8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right__card li a i{
    color: #495EA9;
}
/* ======= Footer finish ========== */