<% var error %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ADMIN || IMD</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/styles/admin_style.css" />
  </head>
  <body>
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed" data-title="Menu">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </div>
    <header id="main-header"><%- include("components/admin-nav") %></header>

    <h3>Sertifikat qo'shish</h3>

    <form
      method="post"
      action="/admin/certificate/create"
      enctype="multipart/form-data"
    >
      <% if (error) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>
      <div class="form-group">
        <label for="exampleFormControlFile1">Sertifikat yo'nalishi rasmi</label>
        <input
          name="direction_image"
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Sertifikat rasmi</label>
        <input
          name="certificate_image"
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/admin_script.js"></script>
  </body>
</html>
