<nav id="sidenav">
          <div id="sidenav-header">
            <div id="profile-picture">
              <img
                src="http://www.gravatar.com/avatar/fa4df8540bab3cb38f7dfa60c6e0522c.png"
              />
            </div>
            <a href="#" id="profile-link">Jesse Couch</a>
          </div>
          <div id="account-actions">
            <a href="#" id="messages" data-title="Messages" data-newmessages="1"
              ><i class="fa fa-inbox"></i
            ></a>
          </div>
          <ul id="main-nav">
            <li>
              <a href="/admin">
                <i class="fa fa-tachometer"></i>
                Statistika
              </a>
            </li>
            <li>
              <a href="/admin/services">
                <i class="fa fa-check-square-o"></i>
                Xizmatlar
              </a>
            </li>
            <li>
              <a href="/admin/thoughts">
                <i class="fa fa-user"></i>
                Fikrlar
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-calendar"></i>
                Calendar
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-life-ring"></i>
                FAQs
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <section id="content">
        